.btn-no-margin {
    margin: 0;
}

.footer-menu {
    display: inline-block;

}

a.btn-primary.orange {
    border-radius: 10px;
    background-color: orange !important;
    color: black !important;
    font-weight: bold;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    margin-top: 6px;
    margin-bottom: 6px;

    &:hover {
        background-color: #f4e542 !important;
    }
}
