.footer-menu {
    display: inline-block;

    a.btn-primary.orange {
        border-radius: 10px;
        background-color: orange;
        color: black;
        font-weight: bold;

        &:hover {
            background-color: green;
            color: white;
        }
    }
}

