.btn-no-margin {
    margin: 0;
}

footer {
    padding: 30px 0 10px;
}
@media (max-width: 767px) {
    footer .text-center {
        text-align: left;
    } 
}
.footer-menu {
    display: inline-block;
    text-align: left;

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    a.btn-primary.orange {
        padding: 6px !important;
        margin-left: -6px;
    }

    h5 {
        color: #999;
        font-weight: bold;
    }
}

a.btn-primary.orange {
    border-radius: 10px;
    background-color: orange !important;
    color: black !important;
    font-weight: bold;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    margin-top: 6px;
    margin-bottom: 6px;

    &:hover {
        background-color: #f4e542 !important;
    }
}

